/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: 'Droid Sans', sans-serif;
    font-size: 1.1em;
}

p {
    padding: 0.5em;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

p#hook {
    margin: 0;
    font-size: 2em;
    font-family: 'Droid Sans Mono', monospace;
}

.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

.posts li {
    line-height: 1.75em;
}

.posts span {
    color: #aaa;
    font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.content {
    text-align: justify;
    max-width: 850px;
    margin: 0 auto;
}

.header {
    padding: 1em;
}

.header .links {
    margin-top: 50px;
}

.header .links a {
    margin-right: 1em;
}

.header a {
    text-decoration: none;
    font-size: x-large;
    margin: 0 0.3em;
    padding: 0.1em;
}
.header a,
.header a:visited {
    color: #000;
}
.header a:hover {
    border-bottom: 3px solid black;
}

.meta {
    color: #aaa;
}

.footer {
    font-size: 0.8em;
    color: #666;
    border-top: 4px solid #ddd;
    margin-top: 2em;
    overflow: hidden;
}

.footer li {
    list-style: none;
    line-height: 1.75em;
}

.footer a {
    color: #8085C1;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

.post ul, .post ol {
    margin-left: 1.35em;
}

.post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}

.post pre code {
    border: none;
}

/* terminal */
.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}

.post pre.terminal code {
    background-color: #333;
}
