/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0;
}

body {
    background-color: white;
    color: black;
}

p {
    padding: 0.3em;
}

.center {
    text-align: center;
}

.c-box,
.l-box {
    padding: 0.5em;
}

.c-box {
    margin: 0 auto;
    text-align: center;
}

.indent {
    text-indent: 2em;
}

/*****************************************************************************/
/*
/* Landing
/*
/*****************************************************************************/

#landing-img {
    top: -100px;
    display: inline-block;
    vertical-align: center;
    max-width: 100%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.meta {
    color: #aaa;
}

.content {
    padding: 0em 1em 1em 1em;
    text-align: justify;
    max-width: 850px;
    margin: 0 auto;
}

#header {
    text-align: center;
    padding: 0.7em;
    color: #FFF;
    background-color: #000;
}

#navbar {
    text-align: center;
    background-color: #FFF;
}

.big {
    display: block;
    font-size: 1.8em;
    padding: 1em 0;
}

/* Footer */
#footer {
    font-size: 0.8em;
    color: #666;
    border-top: 4px solid #EEE;
    margin-top: 2em;
    overflow: hidden;
    text-align: center;
}

#footer ul {
    padding: 0;
}

#footer li {
    display: inline;
}

#footer ul.sep li::after {
    content: " ∞ ";
}

#footer ul.sep li:last-of-type::after {
    content: none;
}

#footer a {
    color: #8085C1;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* List */
.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

.posts li {
    line-height: 1.75em;
}

.posts span {
    color: #aaa;
    font-size: 80%;
}

/* Detail */
.post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

.post ul, .post ol {
    margin-left: 1.35em;
}

.post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}

.post pre code {
    border: none;
}

/* Terminal */
.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}

.post pre.terminal code {
    background-color: #333;
}

.post-nav ul {
    padding: 0;
}

.post-nav li {
    display: inline;
}

.post-nav li::after {
    content: " | ";
}

.post-nav li:last-of-type::after {
    content: none;
}

/* Video */
video {
    max-width: 100%;
}

.icon {
    width: 50px;
}
