---
layout: base
title: Home
---
{% include header.html %}
<div class="content">
	<div class="c-box">
			<div class="pure-g-r">
				<div class="pure-u-1-2">
					<img src="/images/calvin.jpg" />
				</div>
				<div class="pure-u-1-2">
					<img src="/images/card.jpg" style="height: 364px !important;" />
				</div>
			</div>
			<h3 style="margin: 1em 0 .1em 0">Calvin Chao</h3>
			<em>1995 - 2015</em>
			<p>It is with a heavy heart that we say goodbye to a beloved member of our club, Calvin Chao.</p>
			<p>A quiet, but dedicated member of the Computer Club, who devoted his time to the students of Maple St. Magnet School, teaching them concepts behind electrical components and robotics.</p>
			<p>You will be deeply missed, Calvin.</p>
	{% include footer.html %}
	</div>
</div>
