---
layout: default
title: Minutes
---

<div class="pure-u-1-2">
    <h1>Meeting Minutes</h1>
    <ul class="posts">
    {% for post in site.posts %}
        {% if post.categories contains 'minutes' %}
        <li>&raquo; <a href="{{ post.url }}">{{ post.date | date_to_string }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>

<div class="pure-u-1-2">
    <h1>Agenda</h1>
    <ol>
        <li>Group contact policy: email & SMS</li>
        <li>Irc channel ops policy</li>
        <li>Spam control in IRC</li>
        <li>Bonzai Brawl (April 11th)<br/><a href="http://bonzai.cs.mtu.edu/">website</a></li>
        <li>Security lab</li>
        <li>3D printer workshop</li>
    </ol>
</div>

