<div id="footer">
    <ul>
        <li><a href="https://github.com/ccowmu"><img class="icon"
                src="/svg/github.svg" alt="Github"></a></li>
        <li><a href="https://facebook.com/ccowmu"><img class="icon"
                src="/svg/facebook.svg" alt="Facebook"></a></li>
        <li><a href="https://youtube.com/wmucclub"><img class="icon"
                src="/svg/youtube.svg" alt="Youtube"></a></li>
        <li><a href="https://twitter.com/ccowmu"><img class="icon"
                src="/svg/twitter.svg" alt="Twitter"></a></li>
        <li><a href="https://plus.google.com/111884498936803742100/about"><img
                class="icon" src="/svg/google.svg" alt="Google"></a></li>
        <li><a href="http://steamcommunity.com/groups/ccowmu"><img
                class="icon" src="/svg/steam.svg" alt="Steam"></a></li>
        <li><a href="https://www.flickr.com/photos/129058274@N06/"><img
                class="icon" src="/svg/flickr.svg" alt="Flickr"></a></li>
    </ul>
    <ul class="sep">
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
    </ul>
    <div>Icons made by <a href="http://www.simpleicon.com"
            title="SimpleIcon">SimpleIcon</a> from <a
            href="http://www.flaticon.com"
            title="Flaticon">www.flaticon.com</a> are licensed under <a
            href="http://creativecommons.org/licenses/by/3.0/" title="Creative
            Commons BY 3.0">CC BY 3.0</a></div>
</div>
