<div class="header">
    <div class="pure-g-r">
        <div class="pure-u-2-5">
            <h1>The Computer Club of</h1>
        </div>
        <div class="pure-u-1-5">
            <a href="/"><img src='/images/logo.png'></a>
        </div>
        <div class="pure-u-2-5">
            <h1>Western Michigan University</h1>
        </div>
    </div>
</div>
<div id="navbar" class="navbar">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/minutes/">Minutes</a></li>
            <li><a href="/membership.html">Join</a></li>
            <li><a href="http://whatistheplan.com/"
                target="plan">PLAN</a></li>
        </ul>
    </div>
</div>
