<div id="header">
    <div class="pure-g-r">
        <div class="pure-u-2-5">
            <h1>The Computer Club of</h1>
        </div>
        <div class="pure-u-1-5">
            <a href="/"><img src='/images/logo.png'></a>
        </div>
        <div class="pure-u-2-5">
            <h1>Western Michigan University</h1>
        </div>
    </div>
</div>
<div id="navbar" class="navbar pure-menu pure-menu-open pure-menu-horizontal main-menu">
    <ul id="navbar-items">
        {% for anchor in site.navigation %}
        <li{% if page.url contains anchor.url %} class="pure-menu-selected"{% endif %}>
            <a href="{{ anchor.url }}">{{ anchor.text }}</a>
            {% if anchor.drop %}
            <ul>
                {% for drop in anchor.drop %}
                <li><a href="{{ drop.url }}">{{ drop.text }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
